* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  .todo-counter{
    margin: 32px 0;
    color: #fff;
    font-size: 20px;

  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 30px;
  }
  .todo-button-add {
    padding: 16px;
    width: 90px;
    border: none;
    border-radius: 0 4px 0 0;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
   
  }
  .todo-button-add:hover {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  .todo-button-delete {
    padding: 16px;
    width: 79%;
    border: none;
    border-radius: 0 0px 4px 4px;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 77%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
   
  }
  .todo-button-delete:hover {
    background: linear-gradient(
      90deg,
      rgb(255, 20, 20) 0%,
      hsl(0, 65%, 59%) 100%
    );
    padding: 16px 22px;
  }
  .todo-form {
    margin-bottom: 32px;
  }
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  .todo-row:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(132, 71, 255) 0%,
      rgb(133, 29, 197) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  /* The container */
.container {
  padding-bottom: inherit;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  border-radius: 4px 4px 4px 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #6ebeff;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
